{% extends "common/base.html" %}
{% load crispy_forms_tags %}



{% block title %}
Apply for a new Project
{% endblock %}


{% block content %}
<h2>Project Proposal</h2>
<hr>


<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="Save" />
  <a class="btn btn-secondary" href="{% url 'project-list' %}" role="button">Cancel</a>
</form>

<script>
  $(document).ready(function() {
    $('#id_field_of_science').select2();
  });
</script>
{% endblock %}

